@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:opacity-50 disabled:bg-blue-100 disabled:text-blue-400;
  }
  .btn-outlined {
    @apply border border-blue-500 hover:bg-blue-700 hover:text-white text-blue-500 font-bold py-2 px-4 rounded disabled:opacity-50 disabled:bg-blue-100 disabled:text-blue-400;
  }
  .btn-rating {
    @apply bg-blue-500 rounded-full hover:bg-blue-700 text-white font-bold py-1 px-4 flex justify-center items-center gap-1 ;
  }
  .input {
    @apply block border-2 border-blue-500 px-4 rounded-md py-2;
  }
  .input-search {
    @apply block bottom-0 outline-0 px-4 rounded-md py-3;
  } 
  .card {
    @apply text-black p-6 bg-white rounded-md shadow-none flex flex-col justify-center items-center
  }
  .product-card {
    @apply rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] flex flex-col gap-3 justify-center items-center pb-4
  }
}

@layer components {

}
